<img src="images/templogo.png" alt="A temporary logo"><br>
<h1> Write a Prescription </h1>
<p> 
	Write prescriptions for your patients here.
	<br>
	<label id="pat">Patient Name <input ng-model="prescription.pname" /></label>
	<br>
	<label id="doc">Prescriber Name <input ng-model="prescription.scribename" /></label>
	<br>
	<label id="med">Medication Name <input ng-model="prescription.medname" /></label>
</p>
<br>
  <p><input id="but" type="button" onclick="toggle()" class="btn btn-lg btn-success" ng-href="#/" value="Check Entries!"/></p>

