<div class="jumbotron">
  <h1><font face = "Palatino Linotype"> 'Allo, 'Allo! </font></h1>
  <br>
  <p class="lead">
    <img src="images/templogo.png" alt="A temporary logo">
    <br><br>
    <font face = "Palatino Linotype"> Log in to prescribe. </font>
  </p>
  <br>
  <form name="login">
<input type="text" name="userid" value="Username" onFocus="(this.value=='Username')?(this.value=''):(this.value=this.value);" onblur="this.value = this.value==''?'Username':this.value;"/>
<input type="password" name="pswrd" value="Password" onFocus="this.value= this.value=='Password'?'':this.value;" onblur="this.value = this.value==''?'Password':this.value;"/>
<br><br><br>
  <p><input type="button" onclick="window.location.href='/#!/prescription'" class="btn btn-lg btn-success" ng-href="#/" value="Log In!"/></p>
</div>
