<div class="jumbotron">
	<img src="images/templogo.png" alt="A temporary logo"><br>
	<h1> Write a Prescription </h1>

	<p>Write prescriptions for your patients here.</p>

	<p align="right"> 
		<label>Patient Name: <input ng-model="prescription.pname" /></label>
		<br>
		<label>Prescriber Name: <input ng-model="prescription.scribename" /></label>
		<br>
		<label>Medication Name: <input ng-model="prescription.medname" /></label>
		<br>
		<label>Expiration Date: <input ng-model="prescription.expire" /></label>
	</p>
</div>